# # 1. Acquire and read in the data source(s).

In [3]:
import pandas as pd

df = pd.read_csv('../Data/nil_updated.csv')
df.head()

,rank,name,position,class,height_in,weight,rating,nil_value,instagram,tiktok,twitter,college,conference,social_media_followers
0,1,Arch Manning,QB,JR,75.5,220,99.53,5300000.0,5300000.0,NaN,NaN,Texas,SEC,5300000.0
1,2,Jeremiah Smith,WR,SO,75.0,215,99.61,4200000.0,4200000.0,NaN,NaN,Ohio State,Big Ten,4200000.0
2,3,Carson Beck,QB,RS-SR,76.0,230,91.28,3100000.0,3100000.0,NaN,NaN,Georgia,SEC,3100000.0
3,4,Bryce Underwood,QB,FR,76.0,214,99.87,3000000.0,3000000.0,NaN,NaN,LSU,SEC,3000000.0
4,5,Fernando Mendoza,QB,RS-JR,77.0,208,79.83,2600000.0,2600000.0,NaN,NaN,California,ACC,2600000.0

 # 2. Describe how to get the data.
 
 To get this data you must scrape all the data off the On 3 Nil valuation page for the top 100 football players. You then must go to either their rivals or on3 recruiting account to figure out all the grades for the players. Then you must go to to any resaource that has the data for what teams the players are on such as espn to scape that data to fill out the csv. You can then add the confernce that team is in which is also available on espn.

# 3. Describe who produced the data and how.

The people who produced this data are the people who run the On3 Nil valuation page. They have a team of people who research and scrape all the data from various sources to compile it into one easy to read format. They then post it on their website online and via social media where they have a large following. For thsi project the NIL vlaues, ratings, and social media metrice were all taken from the On3 Nil valutation and recrtuing pages. The team names and conferences were taken from espn as well as the position of each player. The data set was created by taking the important data from each of these sources and compiling it into one csv file. At first there were some columns of unnessesary data that we removing before entering it into csv format such as the highschool and we coimbined social media following into one column rather than listing out each platform with its respective following.

# 4. Describe the data’s features with a COLS table.

| Column               | Type | Description | Source |
|---------------------|------|-------------|--------|
| rank                |      |             |        |
| name                |      |             |        |
| position            |      |             |        |
| class               |      |             |        |
| height_in           |      |             |        |
| weight              |      |             |        |
| rating              |      |             |        |
| nil_value           |      |             |        |
| instagram           |      |             |        |
| tiktok              |      |             |        |
| twitter             |      |             |        |
| social_media_followers |   |             |        |
| college             |      |             |        |
| conference          |      |             |        |

| Col 1 | Col 2 | Col 3 | Col 4 |
|-------|-------|-------|-------|
| Row 1 |       |       |       |
| Row 2 |       |       |       |
| Row 3 |       |       |       |
| Row 4 |       |       |       |
| Row 5 |       |       |       |
| Row 6 |       |       |       |
| Row 7 |       |       |       |
| Row 8 |       |       |       |
| Row 9 |       |       |       |
| Row 10 |      |       |       |
| Row 11 |      |       |       |
| Row 12 |      |       |       |
| Row 13 |      |       |       |
| Row 14 |      |       |       |

| **Column**               | **Type** | **Description (Meaning)**                 | **Source** |
| ------------------------ | -------- | ----------------------------------------- | ---------- |
| rank                     | int      | Athlete’s ranking in the On3 NIL 100 list | On3        |
| name                     | string   | Full name of the athlete                  | On3        |
| position                 | string   | Player’s position (QB, WR, etc.)          | On3        |
| class                    | string   | Academic/eligibility year                 | ESPN       |
| height_in                | float    | Height in inches                          | ESPN       |
| weight                   | int      | Weight in pounds                          | ESPN       |
| rating                   | float    | Recruiting rating (On3 composite)         | On3        |
| nil_value                | float    | Estimated NIL valuation in USD            | On3        |
| instagram                | float    | Instagram follower count                  | On3        |
| tiktok                   | float    | TikTok follower count                     | On3        |
| twitter                  | float    | Twitter/X follower count                  | On3        |
| social_media_followers   | float    | Combined total followers                  | Derived    |
| college                  | string   | Current school (2024–25 roster)           | ESPN       |
| conference               | string   | Conference of athlete’s school            | ESPN       |